.battery-status-window{
    width: fit-content;
}

.battery-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px;
}

.battery-status-window-title {
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    padding: 5px;
}

