.battery-status-window{
    width: 100%
}

.battery-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;

    padding: 5px;
}

.battery-status-window-title {
    border-bottom: 2px solid royalblue;
    text-align: center;
    padding: 5px;
}

