.autonomy-status-window{
    width: 100%;
    height: 100%;
}

.autonomy-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.autonomy-status-window-title {
    border-bottom: 2px solid royalblue;
    text-align: center;
    padding: 5px;
}

