<!-- <div style="display: flex;flex-direction: row;gap: 50px;"> -->


<!-- <video [autoplay]="true" id="video-1" [controls]="true" style="width: 45%;height: 100%" -->
<!-- [muted]="true"></video> -->
<!-- </div> -->
<mat-grid-list cols="2" rowHeight="1:1">
       <mat-grid-tile>
              <video [autoplay]="true" id="video-0" [controls]="true" style="width: 100%;height: 100%"
              [muted]="true"></video>
       </mat-grid-tile>
       <mat-grid-tile>
              <video [autoplay]="true" id="video-2" [controls]="true" style="width: 100%;height: 100%"
              [muted]="true"></video>
       </mat-grid-tile>
       <mat-grid-tile>
              <video [autoplay]="true" id="video-1" [controls]="true" style="width: 100%;height: 100%"
              [muted]="true"></video>
       </mat-grid-tile>
        <mat-grid-tile>
              <video [autoplay]="true" id="video-3" [controls]="true" style="width: 100%;height: 100%"
              [muted]="true"></video>
       </mat-grid-tile>
     </mat-grid-list>
