<div class="tag-container">
    <div class="tag-image">
        <span>Tag ID: {{tag.id}}</span>
        <img src="#" alt="Image placeholder">
    </div>
    <div class="tag-pose">
        <span>Position:</span>
        <span>(x: {{tag.pose.position.x}}, y: {{tag.pose.position.y}}, z: {{tag.pose.position.z}})</span>
        <span>Orientation:</span>
        <span>(x: {{tag.pose.orientation.x}}, y: {{tag.pose.orientation.y}}, z: {{tag.pose.orientation.z}}, w: {{tag.pose.orientation.w}})</span>
    </div>
</div>