.battery-info {
    border: 1px solid royalblue;
    min-width: 112px;
}

.battery-side {
    border-bottom: 1px solid royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.battery-voltage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}