 <script src="coordinate-manager.component.ts"></script>
 <form [formGroup]="coordsForm">

    <mat-table formArrayName="rows" #table [dataSource]="coordinates">
      <ng-container cdkColumnDef="latitude">
        <mat-header-cell *cdkHeaderCellDef> Latitude </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">
          <mat-form-field>
            <input (keyup.enter)="addCoordinates(rowIndex)" matInput placeholder="45.496082" formControlName="latitude"
                   [errorStateMatcher]="matcher">
          </mat-form-field>
        </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="longitude">
        <mat-header-cell *cdkHeaderCellDef> Longitude </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">

<!--          <div style="display:flex;flex-direction: column">-->
          <mat-form-field>
            <input (keyup.enter)="addCoordinates(rowIndex)" matInput placeholder="45.496082" formControlName="longitude"
                   [errorStateMatcher]="matcher">
          </mat-form-field>
<!--             @if (getRows().at(rowIndex).get('longitude')?.hasError('required')) {-->
<!--            <mat-error><strong>Input required</strong></mat-error>-->
<!--            }-->
<!--            @else if (getRows().at(rowIndex).get('longitude')?.invalid) {-->
<!--            <mat-error><strong>Invalid input</strong></mat-error>-->
<!--            }-->
<!--            </div>-->
        </mat-cell>

      </ng-container>

      <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>

        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">
          <h3>
            @if (row.status == 0){
            <i>Inactive</i>
          } @else if (row.status == 1){
            <i>In queue</i>
          }
          </h3>
        </mat-cell>
      </ng-container>

       <ng-container cdkColumnDef="modify">
        <mat-header-cell *cdkHeaderCellDef> Modify </mat-header-cell>

        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">

        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="delete">
        <mat-header-cell *cdkHeaderCellDef> Delete </mat-header-cell>

        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex">
            <button type="button" [autofocus]="false" mat-icon-button (click)="deleteCoordinate(rowIndex)">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>

      </ng-container>
      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </form>
